*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url('../img.png');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: left;
    background-size: cover;
    background-position: center; 
    height: 100vh; 

}

.container {
    display: flex;
    justify-content: flex-end; /* Alinha o container-form à direita */
}

.container-form {
    background-color: white;
    width: 400px; /* Ajuste a largura conforme necessário */
    padding: 20px;
    width: 50%;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25% 0 0 25%; /* Ajuste o border-radius para corresponder à nova posição */
}
form{
    padding: 60px;
    width: 120%;
}

.form-group label {
   display:block; 
   margin-bottom:5px; 
   font-weight:bold;
   
}

.form-control {
   width:100%;
   padding:10px;
   margin-bottom:20px; 
   border-radius:5px;
   border:solid 1px #ccc
}

button{
    width:100%; 
    padding :10px 20px ;
	background-color:#28a745 ; 
	color:white ; 
	border:none ; 
}



.logo{
    width: 15%;
    display: flex;
    position: absolute; 
    left: 0; 
    top: 0; 
}

.logo-imagem {
    width: 60px; 
    display: flex;
    justify-content: start;
    align-items: flex-end;
}
