*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url('img.png');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: right;
    background-size: cover;
    background-position: center; 
    height: 100vh;
}

.container-form{
    background-color: white;
    width: 400px; 
    padding: 20px; 
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 25% 25% 0;
}

.form-group label {
   display:block; 
   margin-bottom:5px; 
   font-weight:bold;
}

.form-control {
   width:100%;
   padding:10px;
   margin-bottom:20px; 
   border-radius:5px;
   border:solid 1px #ccc
}

button{
    width:100%; 
    padding :10px 20px ;
	background-color:#28a745 ; 
	color:white ; 
	border:none ; 
}

.form-check-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

